<p id="notice"><%= notice %></p>
<section class="content">
<h1>Liste des sous sujets</h1>

    <% @subtopics.each do |subtopic| %>
        <h3><%= subtopic.name %></h3>
    <% end %>

<br>

<%= link_to 'New Subtopic', new_subtopic_path, class:"navigation-links pure-button" %>
</section>
