<h1 class="main-title">Questiono app - Bienvenue </h1>
    <div class="split-column">
    <h2 class="main-links"><%= link_to "Créer un questionnaire" , new_question_path %></h2>
    </div>
    <div class="split-column">
    <h2 class="main-links"><%= link_to "Voir les questionnaire" , questions_path %></h2>
    </div>
