    <div class="split-column">
    <h2 class="main-links pure-button"><%= link_to "Créer un questionnaire" , new_question_path %></h2>
    </div>
    <div class="split-column">
    <h2 class="main-links pure-button"><%= link_to "Voir les questionnaires" , questions_path %></h2>
    </div>
