<section class="content">

<p id="notice"><%= notice %></p>

<h2>Créer une question ?</h2>

    <%= link_to "Créer nouvelle question", new_question_path, class:"pure-button navigation-links" %>

    <h2>Chercher une question ?</h2>
    <input type="text" ng-model="search">
    <div ng-controller="QuestionListCtrl">
        <div ng-repeat="question in questions | filter:search"> 
            <ul class="questions-list">
                <li>
                <h2> {{ question.subject }} </h2>
                    <a href="/questions/{{question.id }}/edit" class="pure-button navigation-links">Editer</a> 
                    <a href="/questions/{{ question.id }}" class="pure-button navigation-links">Voir</a>
                    <a href="/questions/{{ question.id }}/delete" class="pure-button navigation-links">Supprimer</a>

                </li>
            </ul>
            <hr>
        </div>
    </div>

</section>

