@import 'jeet/index' ;

//@include edit();


.main-title {
    @include center(720px);
}

.main-links {
    text-align: center;
}

.split-column {
    @include column(1/2);
    text-align: center;
}

.navigation-links{
    font-size:1em;
    font-weight:bold;
    color: black;
    padding-left: 0.75em;
    padding-right: 0.75em;
    &:hover {
       background-color:grey;
    }

}

.navigation-action {
    padding-left:20px;
    padding-right:20px;
    font-size:24px;
    font-weight:bold;
}

br {
    margin-top: 2em;
    margin-bottom: 2em;
}

.content {

    width: 80%;
    padding-left: 5em;
    padding-right: 5em;
}
